.dropzone {
  margin: 12px 4px 24px;
  padding: 16px;
  border-radius: 4px;
  background: #fbfbfb;
  border: 1px solid #efefef;
  display: flex;
  flex: 1;
  justify-content: center;
  height: 240px;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dropzone-hover {
  background-color: #0096DA;
  color: #fff;
}

.dropzone-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.dropzone-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.file-input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}