.container {
  width: 100%;
  height: 12px;
  background: #efefef;
  border-radius: 4px;
  overflow: hidden;
}

.fill {
  background: #00dcc0;
  border-radius: 4px;
  width: 100%;
  height: 12px;
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}